@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    background-color: #1D2D50;
}

header{
    background-color: #133B5C;

    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-content: center;

    box-shadow: 0px 20px 18px 10px #1E5F74;
}

.h_item{

    margin: 5px;

    font-size: 48px;
}

#title{
    color: #FCDAB7;
    font-family: "charm";
    font-weight: 700;
    font-size: 100px;
}

#nav_bar{
    padding: 10px 20px;
}

#nav_bar>ul{
    height: 100%;
    list-style: none;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav_items{
    margin: 20px;
    
    /*Flex - container is nav_bar>ul */
    align-content: center;
}

.nav_items>a{
    text-decoration: none;
    color:  #00A8CC; /* #00A8CC; #1E5F74*/
}

.nav_items:hover{
    color: #FCDAB7;

    border-top: 4px solid #FCDAB7;
    a{
        color: #FCDAB7;
    }
}